@import url('https://fonts.googleapis.com/css?family=Amiri|Merriweather&display=swap');
*{
box-sizing: border-box;
}
p{
    margin: 0;
}
body{
    background-color: #50bbfd81 ;
    margin:20px 0;
    font-family: 'Merriweather', serif;
}
.wrapper{ 
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
}
.header{
    font-family: 'Merriweather', serif;
    background-color: #ECECEC;
    margin: 0px;
    overflow:hidden;
}
.content{
    padding: 20px;
    font-family: 'Amiri', serif;
    background-color: rgb(252, 238, 119);
}
.insultBox{
    padding: 10px;
    border-radius: 25px;
    margin-right: 20%;
    margin-left: 20%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}
#Insult{
    margin: 0;
}
.buttons{
    margin: 20px 20px 0px 20px;
}
footer{
    background-color: #ECECEC;
    font-family: 'Amiri', serif;
    margin: 0;
}